[submodule "third_party/Causal-Forcing"]
	path = third_party/Causal-Forcing
	url = https://github.com/thu-ml/Causal-Forcing.git
[submodule "third_party/Wan2.2"]
	path = third_party/Wan2.2
	url = https://github.com/Wan-Video/Wan2.2
[submodule "third_party/Wan2.1"]
	path = third_party/Wan2.1
	url = https://github.com/Wan-Video/Wan2.1
